@use '../abstracts/variables' as vars;

.character {
  padding: 3rem 0;

  &--jason {
    background-image: linear-gradient(vars.$gradientColor1, vars.$gradientColor2);
  }

  &--lucia {
    background-image: linear-gradient(vars.$gradientColor2, vars.$gradientColor3);
  }

  &--cal {
    background-image: linear-gradient(vars.$gradientColor3, vars.$gradientColor4);
  }

  &--dimez {
    background-image: linear-gradient(vars.$gradientColor4, vars.$gradientColor5);
  }

  &--drequan {
    background-image: linear-gradient(vars.$gradientColor5, vars.$gradientColor6);
  }

  &--boobie {
    background-image: linear-gradient(vars.$gradientColor6, vars.$gradientColor7);
  }

  &--brian {
    background-image: linear-gradient(vars.$gradientColor7, vars.$gradientColor8);
  }

  &--raul {
    background-image: linear-gradient(vars.$gradientColor8, vars.$gradientColor9);
  }

  &--image-right {
    .character__container {
      flex-direction: row-reverse;
    }
  }

  &__container {
    display: flex;
    max-width: 1080px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 2rem;
  }

  &__image {
    max-width: 400px;
    border: 4px solid vars.$textColor;
    border-radius: 1rem;
    transition: transform 0.3s ease, filter 0.3s ease;

    &:hover {
      transform: scale(1.15);
      filter: brightness(1.1) saturate(1.2);
    }
  }

  &__details {
    flex: 1;
  }

  &__name {
    font-family: 'Russo One', sans-serif;
    font-size: 2rem;
    color: vars.$textColor;
    margin-bottom: 1.5rem;
  }

  &__highlight,
  &__quote {
    font-size: 1rem;
    color: vars.$textQuoteColor;
    text-shadow: 1px 1.5px 3px rgba(0, 0, 0, 0.7);
    font-weight: 500;
    font-style: italic;
    margin-bottom: 0.5rem;
  }

  &__intro,
  &__text {
    margin-bottom: 1.2rem;
    font-weight: 500;
    color: vars.$textColor;
    font-family: 'Roboto', sans-serif;
  }

  @media (max-width: 640px) {
    &__container {
      max-width: 90%;
      display: block;
      align-items: center;
    }

    &__image {
      width: 100%;
      &:hover {
        transform: scale(1.05);
        filter: brightness(1.1) saturate(1.2);
      }
    }

    &__details {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}
