@use '../abstracts/variables' as vars;

.hero {
  width: 100%;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  overflow: hidden; // impede qualquer transbordamento visual

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/landscape.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
  }

  &__container {
    position: relative;
    bottom: 5%;
    max-width: 1080px;
    width: 100%;
    padding: 1rem;
    margin: 0 auto; // CENTRALIZA SEM USAR LEFT + TRANSFORM
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 2;
    text-align: center;
  }

  &__text-timer {
    color: vars.$textColor;
    font-weight: bold;
    padding: 0.6rem 1rem;
    border-radius: 2rem;
    font-size: clamp(2.5rem, 5vw, 5rem);
    margin-bottom: 8rem;
    text-shadow: 0 0 5px vars.$timerColor, 0 0 10px vars.$timerColor,
      0 0 15px rgba(255, 255, 255, 0.3);
    font-family: 'Russo One', sans-serif;
  }

  &__text-label {
    font-family: 'Russo One', sans-serif;
    font-size: clamp(1.5rem, 4vw, 3rem);
    color: vars.$textColor;
    margin-bottom: 0.2rem;
    text-shadow: 0 2px 5px vars.$timerColor, 1px 1px 2px rgba(0, 0, 0, 0.6);
    text-transform: uppercase;
    letter-spacing: 0.05rem;
  }
}
