//Text colors
$textColor: #f5f5f5;
$textQuoteColor: #f890e7;
$timerColor: #fbb034;

//Colors
$gradientColor1: #73afc9;
$gradientColor2: #9dc3c6;
$gradientColor3: #83a4c7;
$gradientColor4: #7f78bb;
$gradientColor5: #7165a7;
$gradientColor6: #4c4264;
$gradientColor7: #5a768c;
$gradientColor8: #a2ba88;
$gradientColor9: #dbddac;
